/* hide game interactions  */
#guesses, #letters, #template, #letter-guess, #endgame{
    display: none;
}

#map {
    border: 1px solid #333;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

    #map-popup-header{
        font-family: sans-serif;
        color: black; 
        font-size: 15px;
    }
    #map-popup-text{
        font-family: sans-serif;
        color: black; 
        font-size: 10px;
    }


/* General Styling */ 
body{
  background-color: #5D5C61;
}

p, ol, ul, span{
  font-family: sans-serif;
  color: white; 
  font-size: 30px;
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: sans-serif;
  color: white; 
  font-size: 40px;
}

/* hangman game */ 
.header {
    border: 4px solid #557A95;
    background: #7395AE;
    width: 20%;
    text-align: center;
}

.title h1{
    font-size: 60px;
    font-family: monospace;
}

#guesses, #letters, #template {
    margin-top: 50px;
    margin-bottom: 50px;
}

#guesses p, #letters p, #template p, #letter-guess label, #endgame label{
    display: inline;
    border: 4px solid #557A95;
    background: #7395AE;
    padding: 10px;
    font-family: sans-serif;
    color: white; 
    font-size: 30px;
}

#letters-remaining, #guesses-remaining, #current-template{
    margin-left: 10px;
}

