/*
 * Basic styling for trello project 
 *
 * @author Joseph Nagy
 */
@charset "utf-8";

/* General Styling */
header {
    text-align: center;
}

ul {
    list-style-type: disc;
}

/* Class Styling */
.container{
    background-size: cover;
    max-width: none;
}
/* Reactive background colors for deadlines,priority,etc */
.deadline{
    padding: 1%;
    border-radius: 5px;
}
.overdue{
    background-color: red;
}
.due-soon{
    background-color: yellow;
}
.due-later{
    background-color: green;
}

.taskList-item {
    width: fit-content;
    padding: 0.5%;
    background-color: white;
    margin: 1%;
}
.title{
    background-color: white;
    width: fit-content;
    margin: 1%;
}

/* CARD styling */
.card-content{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
}
.cardContent li{
    background-color: white;
    max-width: 50%;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}